html, body {
  height: 100%; /* sticky footer */
}

#stickyWrap {
  /* sticky footer styles */
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

@media (min-width: 768px) {
  .container {
    max-width: 680px;
  }
}

header.head {
  text-transform: uppercase;
}

header.head .contact i {
  font-size: 2.5rem;
}

footer.foot {
  height: 60px;
  background-color: #f5f5f5;
}

.foot .container div {
  margin: 20px 0;
}

section.posts .meta div,
article.post .meta div
{
  text-transform: uppercase;
}

article.post .body {
  margin-top: 20px;
}