---
layout: default
---

<article class="post">
  <h2 class="title">{{ page.title }}</h2>
  <div class="meta">
    <div class="date">{{ page.date | date_to_string }}</div>
    {% for member in site.data.authors %}
      {% if member.username == page.author %}
        <div class="author">
          <span class="name">{{ member.name }}</span>
          <span class="social">
            {% if member.github %}<a href="http://github.com/{{ member.github }}"><i class="fa fa-github"></i></a>{% endif %}
            {% if member.twitter %}<a href="http://twitter.com/{{ member.twitter }}"><i class="fa fa-twitter"></i></a>{% endif %}
          </span>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="body">{{ content }}</div>
</article>

